<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>

</head>
<body>
<div>Project for JarSoft</div>
<div>
    <button onclick="location.href='/add/banner'">Добавить баннер</button>
    <button onclick="document.location='/add/category'">Добавить категорию</button>
</div>
<div>
    <button onclick="location.href='banners/list'">Список баннеров</button>
    <button onclick="document.location='categories/list'">Список категорий</button>
</div>
</body>
</html>